<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://websitequanlyrenluyen.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>websitequanlyrenluyen.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WebsiteQuanLyRenLuyen</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$WebsiteQuanLyRenLuyen</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=quanlydiemrenluyen.database.windows.net;Initial Catalog=QuanLyDiemRenLuyen;Persist Security Info=False;User ID=cuong123;Password=Cuong@2512;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=quanlydiemrenluyen.database.windows.net,1433;Initial Catalog=QuanLyDiemRenLuyen;Persist Security Info=False;User ID={cuong123};Password={Cuong@2512};Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=quanlydiemrenluyen.database.windows.net,1433;Initial Catalog=QuanLyDiemRenLuyen;Persist Security Info=False;User ID={cuong123};Password={Cuong@2512};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="QuanLyDiemRenLuyenEntities" Order="3" Enabled="False">
          <Destination Path="Data Source=quanlydiemrenluyen.database.windows.net;Initial Catalog=QuanLyDiemRenLuyen;Persist Security Info=False;User ID=cuong123;Password=Cuong@2512;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="QuanLyDiemRenLuyen.Models.QuanLyDiemRenLuyenEntities, QuanLyDiemRenLuyen" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="QL_DIEMRENLUYENEntities" Order="4" Enabled="False">
          <Destination Path="Data Source=quanlydiemrenluyen.database.windows.net;Initial Catalog=QuanLyDiemRenLuyen;Persist Security Info=False;User ID=cuong123;Password=Cuong@2512;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=quanlydiemrenluyen.database.windows.net,1433;Initial Catalog=QuanLyDiemRenLuyen;Persist Security Info=False;User ID={cuong123};Password={Cuong@2512};Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\QL_DIEMRENLUYENEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.QuanLyDiemRenLuyenModel.csdl|res://*/Models.QuanLyDiemRenLuyenModel.ssdl|res://*/Models.QuanLyDiemRenLuyenModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=quanlydiemrenluyen.database.windows.net,1433;Initial Catalog=QuanLyDiemRenLuyen;Persist Security Info=False;User ID={cuong123};Password={Cuong@2512};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>data source=quanlydiemrenluyen.database.windows.net;initial catalog=QuanLyDiemRenLuyen;persist security info=False;user id=cuong123;password=Cuong@2512;connect timeout=30;encrypt=True;trustservercertificate=False;MultipleActiveResultSets=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)QL_DIEMRENLUYENEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.QuanLyDiemRenLuyenModel.csdl|res://*/Models.QuanLyDiemRenLuyenModel.ssdl|res://*/Models.QuanLyDiemRenLuyenModel.msl;provider=System.Data.SqlClient;provider connection string="data source=quanlydiemrenluyen.database.windows.net;initial catalog=QuanLyDiemRenLuyen;persist security info=False;user id=cuong123;password=Cuong@2512;connect timeout=30;encrypt=True;trustservercertificate=False;MultipleActiveResultSets=False"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)QuanLyDiemRenLuyenEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.QuanLyDiemRenLuyenSinhVienModel.csdl|res://*/Models.QuanLyDiemRenLuyenSinhVienModel.ssdl|res://*/Models.QuanLyDiemRenLuyenSinhVienModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=quanlydiemrenluyen.database.windows.net;Initial Catalog=QuanLyDiemRenLuyen;Persist Security Info=False;User ID=cuong123;Password=Cuong@2512;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>