<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>@ViewBag.Title</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="no-cache">
        <meta http-equiv="Expires" content="-1">
        <meta http-equiv="Cache-Control" content="no-cache">

        <link href="~/Content/DangNhap/css.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="~/Content/DangNhap/bootstrap.min.css">
        <link rel="stylesheet" href="~/Content/DangNhap/animate.css">
        <link rel="stylesheet" href="~/Content/DangNhap/style.css">
        <link rel="stylesheet" href="~/Content/DangNhap/css_bg_login.css">
        <script src="~/Content/DangNhap/modernizr-2.6.2.min.js"></script>
    </head>



<body>


    
        @RenderBody()
    
    <canvas id="nokey" width="1360" height="608"></canvas>
    <script src="~/Content/DangNhap/jquery.min.js"></script>
    <script src="~/Content/DangNhap/bootstrap.min.js"></script>
    <script src="~/Content/DangNhap/jquery.placeholder.min.js"></script>
    <script src="~/Content/DangNhap/jquery.waypoints.min.js"></script>
    <script src="~/Content/DangNhap/main.js"></script>
    <script src="~/Content/DangNhap/js_bg_login.js"></script>
</body>
</html>
